<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SuperSocket ProxyServer" />
  </appSettings>
  <connectionStrings/>
  <socketServer>
    <servers>
      <server name="HttpProxyServer"
              serviceName="ProxyServer"
              ip="Any" port="2011"
              maxConnectionNumber="50"
              receiveBufferSize="2000000">
      </server>
    </servers>
    <services>
      <service name="ProxyServer" type="SuperSocket.ProxyServer.HttpProxyServer, SuperSocket.ProxyServer" />
    </services>
  </socketServer>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="SocketTrace"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="SocketTrace"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="System.Net.Trace.log" />
    </sharedListeners>
    <switches>
      <add name="System.Net.Sockets" value="Verbose" />
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
